
.main{
    background-color: blue;
}
.main .container{
    background-color: pink;
}
.main .row{
    width: 100%;
    background-color: green;
}
.main .createTask{
    padding: 5px;
    background-color: yellow;
}

.main .publishTask{
    background-color: red;
}